<style>
	.colorpicker-preview {
		width: 30px;
		height: 30px;
		border-radius: 2px;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #ccc;
		margin-left: 10px;
	}
	.col-xs-4:not(:first-child) {
		text-align: center;
	}
</style>
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaskLabel" translate="shiftworkApp.task.home.createOrEditLabel">Create or edit a Task</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.task.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.task.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.task.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.task.code"  ng-change="vm.verifyDuplicate(vm.task.code)"
                    ng-pattern="/^[a-zA-Z0-9]*$/" />
              <div ng-show="editForm.code.$invalid">
                 <p class="alert alert-danger"
                    ng-show="editForm.code.$error.pattern" translate="entity.validation.code">
                    This field should contain only numbers or letters.
                </p>
            </div> 
            <div class='alert alert-danger' 
                        ng-show='vm.duplicateMsg'>
                        The code entered is invalid, It has already been used!
            </div>                                
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.task.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.task.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.task.staffNeeded" for="field_staffNeeded">Staff Needed</label>
            <input type="number" class="form-control" name="staffNeeded" id="field_staffNeeded"
                    ng-model="vm.task.staffNeeded"
                    min="1" />
            <div ng-show="editForm.staffNeeded.$invalid">
                <p class="help-block"
                    ng-show="editForm.staffNeeded.$error.min" translate="entity.validation.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.staffNeeded.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.task.taskType" for="field_taskType">Task Type</label>
            <select class="form-control" name="taskType" ng-model="vm.task.taskType" id="field_taskType">
                <option value="SHORT" translate="shiftworkApp.TaskType.SHORT">SHORT</option>
                <option value="FULL" translate="shiftworkApp.TaskType.FULL">FULL</option>
                <option value="MAIN" translate="shiftworkApp.TaskType.MAIN">MAIN</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.task.importance" for="field_importance">Importance</label>
            <select class="form-control" name="importance" ng-model="vm.task.importance" id="field_importance">
                <option value="Important" translate="shiftworkApp.TaskImportance.Important">Important</option>
                <option value="Not_Important" translate="shiftworkApp.TaskImportance.Not_Important">Not_Important</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.task.urgency" for="field_urgency">Urgency</label>
            <select class="form-control" name="urgency" ng-model="vm.task.urgency" id="field_urgency">
                <option value="Urgent" translate="shiftworkApp.TaskUrgency.Urgent">Urgent</option>
                <option value="Not_Urgent" translate="shiftworkApp.TaskUrgency.Not_Urgent">Not_Urgent</option>
            </select>
        </div>
		<div class="form-group">
            <label class="control-label" translate="shiftworkApp.task.style" for="field_style">Style</label>
			<br/>
			<div class="row">
				<div class="col-xs-4">
					<label class="control-label" for="field_style" translate="shiftworkApp.task.styleOptions.textColor">Text Color</label>
					<div class="colorpicker-preview" ng-style="{'background-color': vm.task.style.textColor}" colorpicker type="button" colorpicker-position="top" ng-model="vm.task.style.textColor"></div>
				</div>
				<div class="col-xs-4">
					<label class="control-label" for="field_style" translate="shiftworkApp.task.styleOptions.bgColor">Background Color</label>
					<div class="colorpicker-preview" ng-style="{'background-color': vm.task.style.backgroundColor}" colorpicker type="button" colorpicker-position="top" ng-model="vm.task.style.backgroundColor"></div>
				</div>
				<!-- <div class="col-xs-4">
					<label class="control-label" for="field_style" translate="shiftworkApp.task.styleOptions.icon">Icon</label>
					<div class="colorpicker-preview" ng-style="{'background-color': nonInput.color}" colorpicker type="button" colorpicker-position="top" ng-model="vm.task.style.icon"></div>
				</div> -->
			</div>
			<!-- <br/> -->
			<!-- <div class="btn-group">
				<button type="button" class="btn btn-primary iconpicker-component"><i class="fa fa-fw fa-heart"></i></button>
				<button type="button" class="icp icp-dd btn btn-primary dropdown-toggle" data-selected="fa-car" data-toggle="dropdown">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu"></div>
			</div> -->
			<!-- <div class="row">
				<div class="input-group">
					<input data-placement="bottomRight" class="form-control icp icp-auto" value="fa-archive" type="text" />
					<span class="input-group-addon"></span>
				</div>
			</div> -->
        </div>
		<div class="form-group">
            <label class="control-label" for="field_style" translate="shiftworkApp.task.styleOptions.icon">Icon</label>
            <div class="input-group">
				<input data-placement="bottomRight" class="form-control icp icp-auto" type="text" ng-model="vm.task.style.icon" />
				<span class="input-group-addon"></span>
			</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving || vm.duplicateMsg" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
