
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContractLabel" translate="shiftworkApp.contract.home.createOrEditLabel">Create or edit a Contract</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contract.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contract.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.contract.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.contract.code" ng-change="vm.verifyDuplicate(vm.contract.code)"
                    ng-pattern="/^[a-zA-Z0-9]*$/" />
            <div ng-show="editForm.code.$invalid">
                <p class="alert alert-danger"
                    ng-show="editForm.code.$error.pattern" translate="entity.validation.code">
                    This field should contain only numbers or letters.
                </p>
            </div>
            <div class='alert alert-danger' 
                        ng-show='vm.duplicateMsg'>
                        The code entered is invalid, It has already been used.
           </div>             
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.contract.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.contract.description"
                     />
        </div>

        <div class="form-group">
            <label translate="shiftworkApp.contract.weekendDefinition" for="field_weekendDefinition">Weekend Definition</label>
            <select class="form-control" id="field_weekendDefinition" name="weekendDefinition" ng-model="vm.contract.weekendDefinition" ng-options="weekendDefinition as weekendDefinition.description for weekendDefinition in vm.weekenddefinitions track by weekendDefinition.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving || vm.duplicateMsg" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
