    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeLeaveAbsenceLabel" translate="shiftworkApp.employeeLeaveAbsence.home.createOrEditLabel">Create or edit a Employee Leave Absence</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.employeeLeaveAbsence.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.employeeLeaveAbsence.id" readonly />  
        </div>

        <div class="box">
            <p>
                 <a href="#" editable-select="vm.employeeLeaveAbsence.employee" e-ng-options="employee as employee.name for employee in vm.employees track by employee.id">
                     {{vm.showEmployee()}}
                </a> 
                <span>is absent, due</span>
            </p>
            <p>
                <span>to </span>
                 <a href="#" editable-select="vm.employeeLeaveAbsence.reason" e-ng-options="employeeAbsentReason as employeeAbsentReason.name for employeeAbsentReason in vm.employeeabsentreasons track by employeeAbsentReason.id">
                     {{vm.showReason()}}                     
                </a>
                <span>from</span>
                <a href="#"  editable-combodate="vm.employeeLeaveAbsence.absentFrom">
                  {{ (vm.employeeLeaveAbsence.absentFrom | date:"medium") || 'today' }}
                </a>
                <span>until</span>
            </p>
            <p>
                <a href="#"  editable-combodate="vm.employeeLeaveAbsence.absentTo">
                   {{ (vm.employeeLeaveAbsence.absentTo | date:"medium") || 'tomorrow' }}
                </a>
            </p>
        </div>          
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="!vm.isSaving" class="btn btn-primary" ng-click = "vm.save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
