    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeLeaveAbsenceLabel" translate="shiftworkApp.employeeLeaveAbsence.home.createOrEditLabel">Create or edit a Employee Leave Absence</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="false">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.employeeLeaveAbsence.id" readonly />  
        </div>
        <div class="box">
            <p>
                 <a href="#" editable-select="vm.employeeLeaveAbsence.employee" e-ng-options="employee as employee.name for employee in vm.employees track by employee.id">
                     {{vm.showEmployee()}}
                </a> 
                <span translate="shiftworkApp.employeeLeaveAbsence.reason">is absent, due</span>
            </p>
            <p>
                <span translate="shiftworkApp.employeeLeaveAbsence.absentTo">to </span>
                 <a href="#" editable-select="vm.employeeLeaveAbsence.reason" e-ng-options="employeeAbsentReason as employeeAbsentReason.name for employeeAbsentReason in vm.employeeabsentreasons track by employeeAbsentReason.id">
                     {{vm.showReason()}}                     
                </a>
                <span translate="shiftworkApp.employeeLeaveAbsence.absentFrom">from</span>
                 <span class="box-input-group editable-click">
                    <input id="field_absentFrom" type="text" class="form-control" name="absentFrom" datetime-picker="{{dateformat}}" datepicker-options="{minDate: vm.minDate}" ng-model="vm.employeeLeaveAbsence.absentFrom" is-open="vm.datePickerOpenStatus.absentFrom" required ng-show="false"/>
                    <a ng-click="vm.openCalendar('absentFrom')">{{vm.employeeLeaveAbsence.absentFrom | date:'medium'}}</a>
                </span>
                <span translate="shiftworkApp.employeeLeaveAbsence.absentUtil">until</span>
            </p>
            <p>
                 <span class="box-input-group editable-click">
                    <input id="field_absentTo" type="text" class="form-control" name="absentTo" datetime-picker="{{dateformat}}" datepicker-options="{minDate: vm.employeeLeaveAbsence.absentFrom}" ng-model="vm.employeeLeaveAbsence.absentTo" is-open="vm.datePickerOpenStatus.absentTo" required ng-show="false"/>
                    <a ng-click="vm.openCalendar('absentTo')">{{vm.employeeLeaveAbsence.absentTo | date:'medium'}}</a>
                </span>
            </p>
        </div>          
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="!(vm.isSaving)" class="btn btn-primary" ng-click = "vm.save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
