<div>
    <h2 translate="shiftworkApp.shiftAssignment.home.title">Shift Assignments</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="shift-assignment.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="shiftworkApp.shiftAssignment.home.createLabel">
                        Create new Shift Assignment
                    </span>
                </button>
            </div>
            <div class="col-xs-4 no-padding-left">
                <select class="input-sm" id="export_shiftDate" name="shiftDate" ng-model="exportShiftDate"
                        ng-options="shiftDate as shiftDate.dateString for shiftDate in vm.shiftdates track by shiftDate.id">
                </select>
                <button class="btn btn-primary" ng-click="vm.exportToExcel(exportShiftDate)" ng-disabled="!exportShiftDate">
                    <span translate="shiftworkApp.shiftAssignment.home.export">
                        Export to Excel
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="shiftworkApp.shiftAssignment.indexInShift">Index In Shift</span></th>
                    <th><span translate="shiftworkApp.shiftAssignment.isNeedToReassign">Is Need To Reassign</span></th>
                    <th><span translate="shiftworkApp.shiftAssignment.isDropped">Is Dropped</span></th>
                    <th><span translate="shiftworkApp.shiftAssignment.locked">Locked</span></th>
                    <th><span translate="shiftworkApp.shiftAssignment.shift">Shift</span></th>
                    <th><span translate="shiftworkApp.shiftAssignment.employee">Employee</span></th>
                    <th><span translate="shiftworkApp.shiftAssignment.tasks">Tasks</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shiftAssignment in vm.shiftAssignments track by shiftAssignment.id">
                    <td><a ui-sref="shift-assignment-detail({id:shiftAssignment.id})">{{shiftAssignment.id}}</a></td>
                    <td>{{shiftAssignment.indexInShift}}</td>
                    <td>{{shiftAssignment.isNeedToReassign}}</td>
                    <td>{{shiftAssignment.isDropped}}</td>
                    <td>{{shiftAssignment.locked}}</td>
                    <td>
                            <a ui-sref="shift-detail({id:shiftAssignment.shift.id})">{{shiftAssignment.shift.shiftType.code}}/{{shiftAssignment.shift.shiftDate.dateString}}</a>
                    </td>
                    <td>
                        <a ui-sref="employee-detail({id:shiftAssignment.employee.id})">{{shiftAssignment.employee.name}}</a>
                    </td>
                    <td>
                        <span ng-repeat="taskList in shiftAssignment.taskList">
                            <a class="form-control-static" ui-sref="task-detail({id: {{taskList.id}}})">{{taskList.code}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="shift-assignment-detail({id:shiftAssignment.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shift-assignment.edit({id:shiftAssignment.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shift-assignment.delete({id:shiftAssignment.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        
          <my-table groups="groups" items="items"><div id="main"></div></my-table>
        
          

    </div>
</div>

