
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaskSkillRequirementLabel" translate="shiftworkApp.taskSkillRequirement.home.createOrEditLabel">Create or edit a Task Skill Requirement OK</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.taskSkillRequirement.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.taskSkillRequirement.id" readonly />
        </div>

        <div class="form-group">
            <label translate="shiftworkApp.taskSkillRequirement.task" for="field_task">Task</label>
            <select class="form-control" id="field_task" name="task" ng-model="vm.taskSkillRequirement.task" ng-options="task as task.code for task in vm.tasks | orderBy:'id' track by task.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="shiftworkApp.taskSkillRequirement.skill" for="field_skill">Skill</label>
            <select class="form-control" id="field_skill" name="skill" ng-model="vm.taskSkillRequirement.skill" ng-options="skill as skill.code for skill in vm.skills track by skill.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
