
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeLabel" translate="shiftworkApp.employee.home.createOrEditLabel">Create or edit a Employee</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.employee.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.employee.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.employee.code"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.employee.isSick" for="field_isSick">Is Sick</label>
            <input type="checkbox" class="form-control" name="isSick" id="field_isSick"
                    ng-model="vm.employee.isSick"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.employee.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.employee.name"
                     />
        </div>

        <div class="form-group">
            <label translate="shiftworkApp.employee.contract" for="field_contract">Contract</label>
            <select class="form-control" id="field_contract" name="contract" ng-model="vm.employee.contract" ng-options="contract as contract.id for contract in vm.contracts | orderBy:'id' track by contract.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="shiftworkApp.employee.unavailableShiftDate" for="field_unavailableShiftDate">Unavailable Shift Date</label>
            <select class="form-control" id="field_unavailableShiftDate" name="unavailableShiftDate" ng-model="vm.employee.unavailableShiftDate" ng-options="shiftDate as shiftDate.id for shiftDate in vm.unavailableshiftdates | orderBy:'id' track by shiftDate.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="shiftworkApp.employee.unavailableShiftType" for="field_unavailableShiftType">Unavailable Shift Type</label>
            <select class="form-control" id="field_unavailableShiftType" name="unavailableShiftType" ng-model="vm.employee.unavailableShiftType" ng-options="shiftType as shiftType.id for shiftType in vm.unavailableshifttypes | orderBy:'id' track by shiftType.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
