<div>
    <h2 translate="shiftworkApp.planningJob.home.title">Planning Jobs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="planning-job.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="shiftworkApp.planningJob.home.launchLabel">
                        Launch a new Planning Job
                    </span>
                </button>
                <button class="btn btn-primary" ng-click="vm.refreshAll()">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span  translate="shiftworkApp.planningJob.home.refreshAll">
                        Refresh all
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="shiftworkApp.planningJob.parameterization">Parameterization</span></th>
                    <th><span translate="shiftworkApp.planningJob.status">Status</span></th>
                    <th><span translate="shiftworkApp.planningJob.score">Score</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="planningJob in vm.planningJobs track by planningJob.id">
                    <td><a ui-sref="planning-job-detail({id:planningJob.id})">{{planningJob.id}}</a></td>
                    <td>
                        <a ui-sref="staff-roster-parametrization-detail({id:planningJob.parameterization.id})">{{planningJob.parameterization.name}}</a>
                    </td>
                    <td id="status{{planningJob.jobId}}" translate="{{'shiftworkApp.JobStatus.' + planningJob.status}}">{{planningJob.status}}</td>
                    <td><span id="score{{planningJob.jobId}}">{{planningJob.hardConstraintMatches}}/{{planningJob.softConstraintMatches}}</span></td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="planning-job-detail({id:planningJob.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button ng-click="vm.refresh(planningJob.id)"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-refresh"></span>
                                <span class="hidden-xs hidden-sm" translate="shiftworkApp.planningJob.action.refresh"></span>
                            </button>
                            <button ng-click="vm.save(planningJob.id)"
                                    class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-save"></span>
                                <span class="hidden-xs hidden-sm" translate="shiftworkApp.planningJob.action.save"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="planning-job.delete({id:planningJob.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="form-group">
                            <button id="connect" class="btn btn-default" ng-click="vm.connect()">Connect</button>
                            <button id="disconnect" class="btn btn-default" ng-click="vm.disconnect()" disabled="disabled">Disconnect
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
