
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myShiftTypeLabel" translate="shiftworkApp.shiftType.home.createOrEditLabel">Create or edit a Shift Type</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.shiftType.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.shiftType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.shiftType.code"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.index" for="field_index">Index</label>
            <input type="number" class="form-control" name="index" id="field_index"
                    ng-model="vm.shiftType.index"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.shiftType.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.nightShift" for="field_nightShift">Night Shift</label>
            <input type="checkbox" class="form-control" name="nightShift" id="field_nightShift"
                    ng-model="vm.shiftType.nightShift"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.startTime" for="field_startTime">Start Time</label>
                <div class="input-group">
                    <input id="field_startTime" type="text" class="form-control" name="startTime" datetime-picker="{{dateformat}}" ng-model="vm.shiftType.startTime" is-open="vm.datePickerOpenStatus.startTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.endTime" for="field_endTime">End Time</label>
                <div class="input-group">
                    <input id="field_endTime" type="text" class="form-control" name="endTime" datetime-picker="{{dateformat}}" ng-model="vm.shiftType.endTime" is-open="vm.datePickerOpenStatus.endTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
