
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myShiftTypeLabel" translate="shiftworkApp.shiftType.home.createOrEditLabel">Create or edit a Shift Type</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.shiftType.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.shiftType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.shiftType.code" ng-change="vm.verifyDuplicate(vm.shiftType.code)"
                    ng-pattern="/^[a-zA-Z0-9]*$/" />
            <div ng-show="editForm.code.$invalid">
                <p class="alert alert-danger"
                    ng-show="editForm.code.$error.pattern" translate="entity.validation.code">
                    This field should contain only numbers or letters.
                </p>
            </div>
            <div class='alert alert-danger'
                        ng-show='vm.duplicateMsg'>
                        The code entered is invalid, It has already been used.
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.index" for="field_index">Index</label>
            <input type="number" class="form-control" name="index" id="field_index"
                    ng-model="vm.shiftType.index"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.shiftType.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.nightShift" for="field_nightShift">Night Shift</label>
            <input type="checkbox" class="form-control" name="nightShift" id="field_nightShift"
                    ng-model="vm.shiftType.nightShift"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.startTime" for="field_startTime">Start Time</label>
            <input type="text" class="form-control" name="startTime" id="field_startTime"
                    ng-model="vm.shiftType.startTime"
                    ng-pattern="/^([0-1][0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$/" />
            <div ng-show="editForm.startTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.startTime.$error.pattern" translate="entity.validation.time">
                    This field should be a time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.endTime" for="field_endTime">End Time</label>
            <input type="text" class="form-control" name="endTime" id="field_endTime"
                    ng-model="vm.shiftType.endTime"
                    ng-pattern="/^([0-1][0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$/" />
            <div ng-show="editForm.endTime.$invalid">
                <p class="help-block"
                    ng-show="editForm.endTime.$error.pattern" translate="entity.validation.time">
                    This field should be a time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="shiftworkApp.shiftType.tasks" for="field_task">Tasks</label>
            <select class="form-control" id="field_task" multiple name="task" ng-model="vm.shiftType.tasks" ng-options="task as task.code for task in vm.tasks track by task.id"></select>
        </div>
		<div class="form-group">
            <label class="control-label" translate="shiftworkApp.shiftType.style" for="field_style">Style</label>
			<br/>
			<div class="row">
				<div class="col-xs-4">
					<label class="control-label" for="field_style" translate="shiftworkApp.shiftType.styleOptions.textColor">Text Color</label>
					<div class="colorpicker-preview" ng-style="{'background-color': vm.shiftType.style.textColor}" colorpicker type="button" colorpicker-with-input="true" colorpicker-position="top" ng-model="vm.shiftType.style.textColor"></div>
				</div>
				<div class="col-xs-4">
					<label class="control-label" for="field_style" translate="shiftworkApp.shiftType.styleOptions.bgColor">Background Color</label>
					<div class="colorpicker-preview" ng-style="{'background-color': vm.shiftType.style.backgroundColor}" colorpicker type="button" colorpicker-with-input="true" colorpicker-position="top" ng-model="vm.shiftType.style.backgroundColor"></div>
				</div>
			</div>
        </div>
		<div class="form-group">
            <label class="control-label" for="field_style" translate="shiftworkApp.shiftType.styleOptions.icon">Icon</label>
            <div class="input-group">
				<input data-placement="bottomRight" class="form-control iconpicker" type="text" ng-model="vm.shiftType.style.icon" />
				<span class="input-group-addon"></span>
			</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving || vm.duplicateMsg" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
