<link rel="stylesheet" type="text/css" href="app/entities/view-my-schedule/view-my-schedule.css">
<div>
    <h2 translate="shiftworkApp.viewMySchedule.home.title">View My Schedule</h2>
	<jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <input type="text" placeholder="Search for Employee" translate translate-attr-placeholder="shiftworkApp.viewMySchedule.home.search"
                       ng-model="searchFields"
                       uib-typeahead="employee as employee.code+', '+employee.name for employee in vm.getEmployee($viewValue) | limitTo:10"
                       typeahead-loading="loadingemployees"
                       typeahead-no-results="noResults" typeahead-min-length="0"
                       typeahead-on-select="vm.onTypeaheadCallback($item, $model, $label)"
                       class="form-control"/>
            </div>
        </div>
    </div>
	<div ng-show="vm.currentEmployeeId">
		<h2 class="text-center">{{ vm.calendarTitle }}</h2>
		<div class="col-md-6 text-center">
		  <div class="btn-group">

			<button
			  class="btn btn-primary"
			  mwl-date-modifier
			  date="vm.viewDate"
			  decrement="vm.calendarView"
			  ng-click="vm.viewDateChanged()">
			  <span translate="calendar.action.previous">Previous</span>
			</button>
			<button
			  class="btn btn-default"
			  mwl-date-modifier
			  date="vm.viewDate"
			  set-to-today
			  ng-click="vm.viewDateChanged()">
			  <span translate="calendar.action.today">Today</span>
			</button>
			<button
			  class="btn btn-primary"
			  mwl-date-modifier
			  date="vm.viewDate"
			  increment="vm.calendarView"
			  ng-click="vm.viewDateChanged()">
			  <span translate="calendar.action.next">Next</span>
			</button>
			
		  </div>
		</div>

		<br class="visible-xs visible-sm">
		
		<div class="col-md-6 text-center">
		  <div class="btn-group">
			<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" translate="calendar.view.year" ng-click="vm.viewDateChanged()">Year</label>
			<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" translate="calendar.view.month" ng-click="vm.viewDateChanged()">Month</label>
			<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" translate="calendar.view.week" ng-click="vm.viewDateChanged()">Week</label>
			<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" translate="calendar.view.day" ng-click="vm.viewDateChanged()">Day</label>
		  </div>
		</div>
		
		<div class="clear"></div>
		<br class="visible-xs visible-sm">
		<br>
		
		<mwl-calendar
			class="empShiftCalendar"
			events="vm.events"
			view="vm.calendarView"
			view-title="vm.calendarTitle"
			view-date="vm.viewDate"
			on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
			cell-is-open="vm.isCellOpen"
			on-view-change-click="true"
			day-view-start="00:00"
			day-view-end="23:59"
			day-view-split="30"
			cell-modifier="vm.cellModifier( calendarCell )">
		</mwl-calendar>
		<!-- on-event-click="vm.showTaskDetail(calendarEvent)" -->
		
	</div>
</div>
